body {
	margin: 0;
	padding: 0;
	color: #144f00;
	font-family: "Noto Sans";
	font-size: 4vh;
	background-color: white;
}
header {
	background-color: #48C9B0;
}
h2 {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Noto Serif";
	font-size: 10vh;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: #660000;
}
ul {
	list-style: none;
}
header div {
	height: 30vh;
	width: 50%;
	margin: 0 auto;

}
.logo {
	text-align: center;
	float: right;
	width: 200px;
	padding: 0;
	margin-right: 5vw;
	background-color: #fff;
	border-radius: 30px;
	text-transform: uppercase;
	box-shadow: 1px 1px 1px 1px black;
	color: #000;
	vertical-align: middle;
}
header div div {
	width: 50%;
	float: right;

}
header img {
	height: 29vh;
	text-align: left;
}
aside {
	text-align: left;
}
li {
	width: 200px;
	display: table-row;
}
div {
	height: 100vh;
}
section {
	max-width: 55vw;
	margin: 0 auto;
}
footer {
	background-color: #A9CCE3;
}
footer img {
	height: 29vh;
	float: right;
}
footer a {
	text-align: right;
}
.portfolio {
	background-color: #4861C9;
}
.order {
	height: 70vh;
	background-color: #A3E4D7;
}
.footer {
	background-color: #A9CCE3;
	height: 30vh;
	box-shadow: 2px 1px 2px 1px black;
}
.portfolio {
	background-color: #4861C9;
	color: #e5f503;
}
.portfolio a {
	color: #d9ff00;
	text-decoration: underline;
}
.advantages {
	background-color: #6F48C9;
	color: #ffff00;
}
.contacts {
	background-color: #F9E79F;
	color: #0000c2;
}